<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>MAIN.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LOGIN</servlet-name>
        <servlet-class>front.LOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIGNUP</servlet-name>
        <servlet-class>front.SIGNUP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIGNUP2</servlet-name>
        <servlet-class>front.SIGNUP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIGNUP3</servlet-name>
        <servlet-class>front.SIGNUP3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGOUT</servlet-name>
        <servlet-class>front.LOGOUT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FORGOT</servlet-name>
        <servlet-class>front.FORGOT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FORGOTUSERNAME</servlet-name>
        <servlet-class>front.FORGOTUSERNAME</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FORGOTPASSWORD</servlet-name>
        <servlet-class>front.FORGOTPASSWORD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SECURITYQUESTION</servlet-name>
        <servlet-class>front.SECURITYQUESTION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RESETPASSWORD</servlet-name>
        <servlet-class>front.RESETPASSWORD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDER1</servlet-name>
        <servlet-class>front.ORDER1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDER3</servlet-name>
        <servlet-class>front.ORDER3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDER2</servlet-name>
        <servlet-class>front.ORDER2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDER4</servlet-name>
        <servlet-class>front.ORDER4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDERDATA</servlet-name>
        <servlet-class>front.ORDERDATA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADMINLOGIN</servlet-name>
        <servlet-class>front.ADMINLOGIN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TRANSACTIONSTATUSMODIFICATION</servlet-name>
        <servlet-class>front.TRANSACTIONSTATUSMODIFICATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DELIVERYSTATUSMODIFICATION</servlet-name>
        <servlet-class>front.DELIVERYSTATUSMODIFICATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDERSTATUSMODIFICATION</servlet-name>
        <servlet-class>front.ORDERSTATUSMODIFICATION</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ORDERCANCELLATION</servlet-name>
        <servlet-class>front.ORDERCANCELLATION</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LOGIN</servlet-name>
        <url-pattern>/LOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIGNUP</servlet-name>
        <url-pattern>/SIGNUP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIGNUP2</servlet-name>
        <url-pattern>/SIGNUP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIGNUP3</servlet-name>
        <url-pattern>/SIGNUP3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGOUT</servlet-name>
        <url-pattern>/LOGOUT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FORGOT</servlet-name>
        <url-pattern>/FORGOT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FORGOTUSERNAME</servlet-name>
        <url-pattern>/FORGOTUSERNAME</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FORGOTPASSWORD</servlet-name>
        <url-pattern>/FORGOTPASSWORD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SECURITYQUESTION</servlet-name>
        <url-pattern>/SECURITYQUESTION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESETPASSWORD</servlet-name>
        <url-pattern>/RESETPASSWORD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDER1</servlet-name>
        <url-pattern>/ORDER1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDER3</servlet-name>
        <url-pattern>/ORDER3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDER2</servlet-name>
        <url-pattern>/ORDER2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDER4</servlet-name>
        <url-pattern>/ORDER4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDERDATA</servlet-name>
        <url-pattern>/ORDERDATA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADMINLOGIN</servlet-name>
        <url-pattern>/ADMINLOGIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TRANSACTIONSTATUSMODIFICATION</servlet-name>
        <url-pattern>/TRANSACTIONSTATUSMODIFICATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DELIVERYSTATUSMODIFICATION</servlet-name>
        <url-pattern>/DELIVERYSTATUSMODIFICATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDERSTATUSMODIFICATION</servlet-name>
        <url-pattern>/ORDERSTATUSMODIFICATION</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ORDERCANCELLATION</servlet-name>
        <url-pattern>/ORDERCANCELLATION</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
