
#RESETPASSWORDSECTION
{
    margin-left: 300PX;
    margin-top: 100PX;
    width: 700PX;
}
#RESETPASSWORDSECTION table tr td
{
    font-size: 20px;
    color: yellow;
}
#RESETPASSWORDSECTION table
{
    margin-left: 100px;
}

#RESETPASSWORDSECTION table tr td input
{

    width: 265px;
    height: 20px;
}

#RESETPASSWORDSECTION form button
{
    width: 150px;
    height: 25px;
}


#RESETPASSWORDSECTION button
{
    width:250PX;
    margin-left: 290PX;
}

#RESETPASSWORDSECTION .RESET
{
    width: 100px;
    margin-left: 15px;
}

#RESETPASSWORDSECTION #GENERATEUSERNAME
{
    
    height: 25PX;
    width: 150PX;
}
